html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  background-color: #1c1d22;
  font-family: "Varela Round", sans-serif;
}

.logo img
{
  width: 210px;
  height: 110px;
}

.contenedor {
	width: 100%;
	max-width: unset;
	margin:auto;
}
 
.contenedor p {
	margin-bottom:40px;
}
 
header nav img{
  width: 210px;
  height: 110px;
}

header nav {
	background: #000000;;
  margin-bottom:10px;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
 
header nav ul {
	list-style: none;
	overflow: hidden;
}
 
header nav ul li {
  float: left;
  -webkit-transition: background-position-x 0.9s linear;
  transition: background-position-x 0.9s linear;
}
 
header nav ul li a {
	display: block;
	padding:20px;
	color:#fff;
  text-decoration: none;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}

header nav ul li:hover a {
  color: #9c0d0d;
}
header nav ul li:not(:last-child) {
  margin-right: 30px;
}

header nav ul li:hover{
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
  -webkit-animation: line 1s;
          animation: line 1s;

}
 
/* --- Clase que agregaremos cuando el usuario haga scroll --- */
.menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
	max-width: unset;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

@-webkit-keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}
