@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    font-family: "Varela Round", sans-serif;
}

label {
    font-family: 'Open Sans', sans-serif;
}

/* NAVBAR*/
.logo {
    width: 150px;
    padding: 0;
    margin: 0;
}

.logo img {
    width: 100%;
}

.container {
    width: 100%;
    height: 70px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1;
}
.item-options {
    color: #f1f1f1;
    margin: 0 1.5rem;
    text-decoration: none;
}
.contenedor {
	width: 100%;
	max-width: unset;
	margin:auto;
    border-bottom: none;
}
.contenedor p {
	margin-bottom:40px;
}
.banner {
    width: 100%;
    height: 650px;
    background-size: 100% 100%;
    animation: banner 4s infinite;
    animation-direction: alternate;
    text-align: right;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-gap: 10px;
}

.btn-banner {
    padding: 10px;
    border: 1px solid #fff;
    height: 50px;
    width: 250px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    text-transform: uppercase;
}

.btn-banner:hover {
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    background: #eb0505;
    opacity: 0.9;
}

@keyframes banner{
    0%, 30%
    {
        background-image: url(../images/teclado.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
    }
   
    35%,65%
    {
        background-image: url(../images/teclado1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
    }
    70%, 100%
    {
        opacity: 1;
        background-image: url(../images/teclado2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}   

/* PRODUCTS */
.cards {
    margin: 20px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card-hyperx {
    border: 1px solid #9c0d0d;
    color: #fff;
    width: 350px;
    height: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    transition: transform 1s;
}
.card-hyperx h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}
.card-hyperx a {
    width: 70%;
    height: 30px;
    background-color: #9c0d0d;
    display: flex;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
.card-hyperx a:hover {
    background-color: #ffffff;
    color: #000;
}

.card-hyperx:hover{
    color: #fff;
    background: #363131;
    cursor: pointer;
}

/* PC */
.section {
    background: #9c0d0d;
    padding: 20px;
}
.title {
    background-color: rgb(0, 0, 0);
    color: #9c0d0d;
    height: 80px;
    width: 500px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
.title label {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.mouse-section {
    background: rgba(0, 0, 0, 0.918);
    color: #fff;
    width: 90%;
    height: 350px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.mouse-image {
    margin: 50px auto;
    width: 90%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.mouse-options {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 90%;
}
.mouse-buy {
    display: flex;
    flex-direction: column;
}
.mouse-btn {
    width: 250px;
    margin-top: 10px;
    height: auto;
    color: white;
    border: 2px solid #9c0d0d;
    font-size: 14px;
    text-decoration: none;
    padding: 14px 60px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
  }
.mouse-btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }

  /* XBOX */
.title-xbox {
    text-align: center;
}
.content-games {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.game {
    background: rgba(0, 0, 0);
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    height: 400px;
    width: 250px;
}
.game img {
    border-radius: 10px;
}

/* PLAYSTATION */

.headset {
    width: 90%;
    height: auto;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
}

.headset-image {
    background: #fff;
    width: 50%;

}

.headset-info {
    background: rgba(0, 0, 0);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 20px;
}
.headset-info h3 {
    text-transform: uppercase;
}

.headset-info li {
    line-height: 30px;
    text-align: left;
}

.headset-buy {
    display: flex;
    grid-gap: 10px;
}

/* NINTNETO */
.nintendo-accesories {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    grid-gap: 20px;
}

.nintendo-card {
    padding: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.918);
    border-radius: 10px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
}

/*Botones*/
.btn-preventa {
   position: relative;
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #9c0d0d;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    text-align: center;
    border-radius: 10px;
}

.btn-preventa:hover {
    cursor: pointer;
    background-color: #9c0d0d;
    color: #fff;
}



/*----------------*/

/*MARCAS*/
.marcas {
    background-color: #000000;
    align-items: center;
    display: inline-flex;
    text-align: center;
}
/*FOOTER*/
.footer {
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}