.btnh
{
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #9c0d0d;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    text-align: center;
    width: 320px;
    border-radius: 10px;

}
.btnh:hover
{
    cursor: pointer;
    background-color: #9c0d0d;
    color: #ffffff;

}
.btng
{
   position: relative;
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid yellow;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    text-align: center;
    border-radius: 10px;
}

.btng:hover
{
    cursor: pointer;
    background-color: yellow;
    color: black;
}
  .btn{
    position: relative;
    display: inline-block;
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #9c0d0d;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    text-align: center;
    width: 320px;
    border-radius: 10px;
  }

  .btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
  }