.games img
{
    border-radius: 10px;
    cursor: all-scroll;

}


.card1
{
    font-size: 40px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    width: 16%;
    height: 350px;
    background-color: #000000;
    color: #ffffff;
}

.card1 p{
    color: #ffffff;
    font-size: 1.5vw;
}


.card1:hover
{
    transform: scale(1.1);
    background-image: url(../img/serviciose.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
}
