@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Oswald:wght@500&display=swap');

.banner
{
    width: 1210px;
    height: 300px;
    border: 3px solid #af0808;
    margin: auto;
    background-size: 100% 100%;
    animation: banner 4s infinite;
    animation-direction: alternate;
    text-align: right;
}

.titulo
{
    height: 200px;
}
@keyframes banner{
    0%, 30%
    {
        background-image: url(images/teclado.jpg);
        opacity: 1;
    }
   
    35%,65%
    {
        background-image: url(images/teclado1.jpg);
        opacity: 1;
    }
    70%, 100%
    {
        opacity: 1;
        background-image: url(images/teclado2.jpg);
    }
}
.teclado
{
    margin: auto;
    width: 1000px;
    height: 200px;
    background-image: url(images/teclado.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
    border-radius: 10px;
    text-align: right;

}

.tituloteclado
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 50px;
}

.card
{
    background-color: #9c0d0d;
    font-family: 'Libre Franklin', sans-serif;
    
}


.card p{
    color: #ffffff;
}

.contenedor-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
}

.contenedor-cards .card{
    width: 350px;
    height: 300px;
    border: 1px solid #6b1928;
    margin: 15px 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: scale(1);
    transition: transform 1s;
    text-align: center;
    
}

.card a{
    width: 70%;
    height: 30px;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border-radius: 20px;
    transform: scale(1);
    transition: transform 1s;
}
.card h3
{
    font-size: 20px;
    color: white;
}


.firstcard
{
    width: 200px;
    height: 150px;
    border-radius: 15px;

}

.secondcard
{
    width: 200px;
    height: 100px;
    border-radius: 15px;
}

.trcard{
    width: 130px;
    height: 120px;
    border-radius: 15px;

}
.card:hover{
    border-radius: 25px;
    color: #fff;
    transform: scale(1.1);
    background: #363131;
    cursor: pointer;
}

.card a:hover{
    transform: scale(1.1);
}

/*----------------*/
.card2
{
    background-color: #000000;
    font-family: 'Libre Franklin', sans-serif;
    
}


.card2 p{
    color: #ffffff;
}

.contenedor-cards2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
}

.contenedor-cards2 .card2{
    width: 350px;
    height: 300px;
    border: 1px solid #6b1928;
    margin: 15px 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: scale(1);
    transition: transform 1s;
    text-align: center;
    
}

.card2 a{
    width: 70%;
    height: 30px;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border-radius: 20px;
    transform: scale(1);
    transition: transform 1s;
}
.card2 h3
{
    font-size: 20px;
    color: white;
}



.card2:hover{
    border-radius: 25px;
    color: #fff;
    transform: scale(1.1);
    background: #363131;
    cursor: pointer;
}

.card2 a:hover{
    transform: scale(1.1);
}
